/data
.idea/.gitignore
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/idiom2vec.iml
.idea/other.xml
__pycache__/
playground/__pycache__/
/idiom2vecenv
.idea/workspace.xml

corpora
dist
build
idiom2vec.egg-info